<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAIQztQ440BtlN9kPFbYejfT0KrwWvY0U</string>
	<key>GCM_SENDER_ID</key>
	<string>389746513618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.abacaClassification</string>
	<key>PROJECT_ID</key>
	<string>abaca-thesis</string>
	<key>STORAGE_BUCKET</key>
	<string>abaca-thesis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389746513618:ios:161ebfc9beeb8d86b5ff0b</string>
</dict>
</plist>